.wrapper {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  font-family: 'Dancing Script', 'Marck Script', cursive;
  font-size: 1.5em;
  h2 {
    display: inline;
  }
  button {
    margin: auto 0 auto 10px;
  }
}