.card-width {
  width: 350px;
  margin: 20px auto;
  font-family: Caveat, cursive;
  font-size: 1.7rem;
  @media (max-width: 350px) {
    width: -webkit-fill-available;
  }
}

.card-img-top{
  height: 450px;
}