.links-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  @media (max-width: 550px) {
    justify-content: space-around;
    width: 100%;
  }
}

.links-list li {
  padding: 0 15px;
}

.links-item {
  color: black;
  text-decoration: overline;
  &:hover {
    text-decoration: overline;
  }
  @media (max-width: 550px) {
    padding: 0;
  }
}

