@import '../../colors.scss';

.links-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  @media (max-width: 550px) {
    justify-content: space-around;
    width: 100%;
  }
}

.links-list li {
  padding: 0 15px;
}

.links-item {
  color: $primary-dark;
  font-family: Caveat, cursive;
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  &:before,
  &:after {
    content: '';
    transition: width 0.3s ease-in-out;
    margin: 0 auto;
    height: 3px;
    background: $primary-dark;
    display: block;
  }
  &:before {
    width: 100%;
  }
  
  &:after {
    width: 0;
  }
  
  &:hover {
    color: $primary-dark;
    text-decoration: none;
    &:before{
      width: 0;
    }
    &:after{
    width: 100%;
    }
  }
  @media (max-width: 550px) {
    padding: 0;
  }
}

