.team {
    width: 70%;
    @media (max-width: 1240px) {
        width: 80%;
    }
}

.participant {
    width: 245px;
    height: 500px;
    margin: 0 20px;
}

.participant h2 {
    text-align: center;
    font-family: 'Dancing Script', 'Marck Script', cursive;
}

.about-team {
    margin: 20px 0;
    width: 100%;
    background: url(../../assets/images/manuscript-roll.jpg) center;
}

.our-team {
    margin: 20px 0;
}

.team-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

@media (max-width: 850px) {
    .about-team-wrapp:after {
        background: url(../../assets/images/manuscript-roll.jpg) center; 
        margin: 20px 0;
    }
}

@media (min-width: 5000px) {
    .about-team {
        width: 3500px;
    }
}
