.team {
    width: 100%;
    padding: 20px 0;
}

.participant {
    width: 245px;
    height: 500px;
    margin: 0 20px;
}

.participant h2 {
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.our-team {
    margin: 20px 0;
}

.team-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 25px;
}

@media (max-width: 850px) {
    .about-team-wrapp:after {
        background: url(../../assets/images/manuscript-roll.jpg) center; 
    }
}

@media (min-width: 5000px) {
    .about-team {
        width: 3500px;
    }
}
