.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eaf188;
  box-shadow: 0px 2px 20px 0px #888888;
}

.logo-img {
  height: 100px;
}

.logo-name {
  margin: 0;
}