.footer-wrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.footer {
    width: 70%;
    padding: 35px 0;
    color: rgb(238, 255, 0);
    font-size: 25px;
}

@media (min-width: 5000px) {
    .footer {
        width: 3500px;
    }
}
