* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
}

@import url('https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker|Satisfy|Titillium+Web:600i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap&subset=latin-ext');