* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
}

@import url('https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker|Satisfy|Titillium+Web:600i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

.head-wrapp {
    width: 100%;
    background: url(assets/images/header-background.jpg) no-repeat center;
    background-color: black;
}

.head {
    width: 70%;
    padding: 100px 0 0;
    position: relative;
}

.app-name {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background: url(assets/images/book-background.jpg) no-repeat center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Dancing Script', cursive;
}

.app-name span {
    font-size: 30px;
}

.lang {
    position: absolute;
    width: 75px;
    border-radius: 3px;
    border: 1px solid rgb(238, 255, 0);
    color: rgb(238, 255, 0);
    left: 0px;
    top: 50px;
}

li {
    list-style-type: none;
}

.item {
    padding: 8px 15px 8px 0px;
}

.list {
    margin-bottom: 0;
}

.list:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 22px;
    right: 10px;
    margin-top: -6px;
    border-width: 0px 6px 6px 6px;
    border-style: solid;
    border-color: rgb(238, 255, 0) transparent;
    transition: 0.5s;
}

.list:hover:after {
    transform: rotate(180deg);
}

.list>li:hover>.sub-list {
    display: block;
}

.sub-list {
    display: none;
    text-align: center;
    padding-top: 15px;
}

.head-buttons-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.head-buttons {
    width: 49%;
    height: auto;
    padding: 10px 10px;
    color: #ef0;
}

.about-wrapp, .about-team-wrapp {
    position: relative;
    background-color: black;
    margin: 20px 0;
    z-index: -2;
}
 
.about-wrapp:after, .about-team-wrapp:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(./assets/images/manuscript3.jpg) no-repeat center; 
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about, .about-team {
    width: 70%;
    padding: 20px 0;
    font-family: 'Caveat', cursive;
}

.about p {
    font-size: 30px;
}

.author-wrapp {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
}

.day-author {
    width: 70%;
}

.day-author h2 {
    font-family: 'Dancing Script', cursive;
}

.day-author-content {
    display: flex;

}
 
.team {
    width: 100%;
    padding: 20px 0;
}

.participant {
    width: 245px;
    margin: 0 20px;
}

.our-team {
    font-family: 'Satisfy', cursive;
}

.participant h2 {
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.our-team {
    margin: 20px 0;
}

.team-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 25px;
}

.footer-wrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.footer {
    width: 70%;
    padding: 35px 0;
    color: rgb(238, 255, 0);
    font-size: 25px;
}

@media (max-width: 450px) {
    .head-buttons-block {
        flex-direction: column;
    }
    .head-buttons {
        width: 100%;
        margin-top: 10px;
    }    
}

@media (min-width: 5000px) {
    .head, .about, .day-author, .footer {
        width: 3500px;
    }
}