.search-wrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search {
    width: 300px;
    padding: 5px 5px 7px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-family: Caveat, cursive;
}

.head-text {
    margin-top: 20px;
    font-family: 'Dancing Script', 'Marck Script', cursive;
}

:focus::-webkit-input-placeholder {
    color: transparent;
  }
   
  :focus::-moz-placeholder {
    color: transparent;
  }
   
  :focus:-moz-placeholder {
    color: transparent;
  }
   
  :focus:-ms-input-placeholder {
    color: transparent;
  }

.text-center{
  margin-top:20px;
}