.search-wrapp {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search {
    width: 300px;
    padding: 5px 5px 7px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
 
}

:focus::-webkit-input-placeholder {
    color: transparent;
  }
   
  :focus::-moz-placeholder {
    color: transparent;
  }
   
  :focus:-moz-placeholder {
    color: transparent;
  }
   
  :focus:-ms-input-placeholder {
    color: transparent;
  }
